<div class="course-item">
    <div class="name"><input type="text"     [(ngModel)]="name"   (keyup)="nameChange()"   (change)="nameChange()"></div>
    <div class="points"><input type="text" [(ngModel)]="points" (keyup)="pointsChange()" (change)="pointsChange()"></div>
    <div class="earned"><input type="text" [(ngModel)]="earned" (keyup)="earnedChange()" (change)="earnedChange()"></div>
    <div class="needed"><input type="text" readonly="true" [(ngModel)]="needed"></div>
    <div class="remove"><button class="controlsBtn red" (click)="remove()">&nbsp;X&nbsp;</button></div>
</div>