<main class="main">
  <img src="../assets/logo192.png" alt="EasyGrade">
  <p class="description">
    Have you asked yourself,
    "What grade do I need on my final exam to pass this class?"
    EasyGrade is a tool to help students understand the grades
    they need to achieve their goals.
  </p>

  <p class="description">
    You can start by hitting the "Add Item" button to begin
    replicating the assignments/tests from your class syllabus.
    Or, hit the "Show Example" button to see EasyGrade in action.
  </p>

  <app-course-buttons></app-course-buttons>

  <app-course-desired-grade></app-course-desired-grade>

  <app-course-grid></app-course-grid>
</main>